<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="panel">
  <div class="panel-header">
    <button class="btn">
      Add Task +
    </button>
  </div>

  <app-task-details *ngFor="let task of tasks"
    [task]="task"
    (deleted)="deleteTask($event)">
  </app-task-details>

  <div class="divider"></div>

  <div class="panel-footer">
    <div>
      Planned Tasks: {{ getTimeEstimate('planned') }} hrs
    </div>
    <div>
      In Progress Tasks: {{ getTimeEstimate('in-progress') }} hrs
    </div>
    <div>
      Completed Tasks: {{ getTimeEstimate('completed') }} hrs
    </div>
    <div>
      Total Estimate: {{ getTimeEstimate('all') }} hrs
    </div>
  </div>
</div>

<router-outlet></router-outlet>
