<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div>
    (Hover over a task to view the description)
  </div>
</div>

<div class="panel">
  <div class="panel-header">
    <button class="btn" (click)="showModal = true">
      Add Task +
    </button>
  </div>

  <app-task-details *ngFor="let task of tasks; let tIdx = index"
    [task]="task"
    [order]="tIdx + 1"
    (deleted)="deleteTask($event)"
    (updated)="updateTask($event)">
  </app-task-details>

  <div class="divider"></div>

  <div class="panel-footer">
    <div class="time-wrapper">
      <div class="time-label">
          Planned Tasks: 
      </div>
      <div class="time-estimate">
          {{ getTimeEstimate('planned') }} hrs
      </div>
    </div>
    <div class="time-wrapper">
      <div class="time-label">
          In Progress Tasks: 
      </div>
      <div class="time-estimate">
          {{ getTimeEstimate('in-progress') }} hrs
      </div>
    </div>
    <div class="time-wrapper">
      <div class="time-label">
          Completed Tasks: 
      </div>
      <div class="time-estimate">
          {{ getTimeEstimate('completed') }} hrs
      </div>
    </div>

    <div class="divider"></div>

    <div class="time-wrapper">
      <div class="time-label">
          Total Estimate: 
      </div>
      <div class="time-estimate">
          {{ getTimeEstimate('all') }} hrs
      </div>
    </div>
  </div>

  <app-task-modal *ngIf="showModal" (added)="addTask($event)" (closed)="showModal = false">

  </app-task-modal>
</div>

<router-outlet></router-outlet>
