<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="panel">
  <app-task-details *ngFor="let task of tasks"
    [task]="task"
    (deleted)="deleteTask($event)">
  </app-task-details>

  <div class="divider"></div>

  <ul>
    <li>Planned Tasks: {{ getTimeEstimate('planned') }} hrs</li>
    <li>In Progress Tasks: {{ getTimeEstimate('in-progress') }} hrs</li>
    <li>Completed Tasks: {{ getTimeEstimate('completed') }} hrs</li>
    <li>Total Estimate: {{ getTimeEstimate('all') }} hrs</li>
  </ul>
</div>

<router-outlet></router-outlet>
