#task-details {
    .form-group {
        display: flex;
        padding: 10px 0;

        .form-control {
            flex: .5;
            justify-content: flex-start;
            align-content: center;
            vertical-align: middle;
            align-items: center;
        }

        .form-statuses {
            flex: .5;
            display: flex;
            justify-content: flex-end;
            align-content: center;
            vertical-align: middle;
            align-items: center;
            margin-right: 15px;
        }
    }
}