<div id="task-details">
    <div class="task-group">
        <div class="task-control">
            <div class="task-info" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)">
                {{ task.id }}) {{ task.name }} ({{ task.estimate }} hrs)
            </div>
        </div>

        <div class="task-statuses">
            <select class="task-status" name="status" [ngModel]="task.status" (change)="saveTask($event)">
                <option disabled>
                    Select...
                </option>
                <option value="{{status}}" *ngFor="let status of availableStatuses">
                    {{ getStatusLabel(status) }}
                </option>
            </select>
        </div>

        <button class="btn" (click)="delete()">
            X
        </button>
    </div>

    <div class="task-tooltip" *ngIf="showTooltip" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)">
        {{ task.description }}
    </div>
</div>
    