@import '../styles.scss';

#task-details {
    position: relative;

    .task-group {
        display: flex;
        padding: 10px 0;

        .task-control {
            flex: .5;
            justify-content: flex-start;
            align-content: center;
            vertical-align: middle;
            align-items: center;

            .task-info {
                cursor: pointer;
                display: inline-block;
            }
        }

        .task-statuses {
            flex: .5;
            display: flex;
            justify-content: flex-end;
            align-content: center;
            vertical-align: middle;
            align-items: center;
            margin-right: 15px;
        }
    }

    .task-tooltip {
        background: $tooltip-bg;
        padding: 5px;
        position: absolute;
        top: -20px;
        z-index: 999;
        left: 10px;
        border-radius: 15px;
        color: $tooltip-font-color;
    }
}