/* You can add global styles to this file, and also import other style files */
$primary-color: #E3E7AF;
$secondary-color: #EFF1C5;
$tertiary-color: #002E2C;

$default-font-color: $tertiary-color;
$default-font-family: 'Comic Sans MS', 'Comic Sans', 'serif';

$panel-bg-color: #A2A77F;
$modal-bg-color: $panel-bg-color;

$btn-bg: #035E7B;
$btn-font-color: #E3E3E3;

$tooltip-bg: $tertiary-color;
$tooltip-font-color: #E3E3E3;
w
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body {
  background: $primary-color;
  color: $default-font-color;
  font-family: $default-font-family;
}

select, option, button {
  font-family: $default-font-family;
}

input, textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0px 10px 0;
  box-sizing: border-box;
  border: solid thin black;

  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
  min-height: 100px;
}

.w-auto { 
  width: auto;
}

.inline {
  display: inline;
}

.panel {
  background: $panel-bg-color;
  margin: auto;
  max-width: 800px;
  padding: 15px;
  border-radius: 15px;

  .panel-header, .panel-footer {
    text-align: right;
  }

  .time-wrapper {
    display: flex;

    .time-label {
      display: flex;
      flex: .9;
      justify-content: flex-end;
    }

    .time-estimate {
      display: flex;
      flex: .1;
      justify-content: flex-end;
    }
  }
}

.divider {
  margin: 10px 0;
  background: $tertiary-color;
  height: 1px;
}

.btn {
  cursor: pointer;
  background: $btn-bg;
  color: $btn-font-color;
  padding: 10px;
  border-radius: 15px;
  

  outline: none;
  box-shadow: none;
}